table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

.search-icon{
    padding-top: 5px;
    color:grey;
}
.center-content{
  display: flex; justify-content: center; align-items: center; background: white;
}
