.form-control{
  width: 100%;
}

.mat-input-element{
  width: 100%;
}

.top-padding{
  padding-top: 3px;
}

.form-container{
  margin: 60px auto;
  width: 60%;
  display: block;
  
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}